<div class="kui-flex-wrap">
  <ul class="kui-list kai-container">
    {{#KLOUDLESS_API_KEY}}
    <li class="kloudlessPageNav" @click='selected("SELECT_DEFAULT_STORAGE")'>Default Cloud Storage</li>
    <li class="kloudlessPageNav" @click='selected("OPEN_DEFAULT_STORAGE")'>Open Cloud Storage</li>
    <li class="kloudlessPageNav" @click='selected("FIX")'>Fix Database</li>
    <li class="kloudlessPageNav" @click='selected("SETUP")'>Change API Key</li>
    {{/KLOUDLESS_API_KEY}}
    {{^KLOUDLESS_API_KEY}}
    <li class="kloudlessPageNav" @click='selected("SETUP")'>Setup API Key</li>
    {{/KLOUDLESS_API_KEY}}
  </ul>
</div>
