<div class="kui-flex-wrap">
  <style>
    ul { 
      display: block;
      list-style-type: disc;
      margin-top: 0.5em;
      margin-bottom: 0.5em;
      margin-left: 0;
      margin-right: 0;
      padding-left: 20px;
    }

    ol {
      display: block;
      list-style-type: decimal;
      margin-top: 0.5em;
      margin-bottom: 0.5em;
      margin-left: 0;
      margin-right: 0;
      padding-left: 20px;
    }

    li {
      display: list-item;
      margin-top: 5px;
      font-size: 14px;
    }
  </style>
  <div class="kai-container">
    <div class="kai-padding-5">
    <h4>Installation</h4>
    <small><b>(https://github.com/arma7x/b2gfm)</b></small>
    <ol>
     <li>Register free Kloudless developer account, https://developers.kloudless.com/account/login</li>
     <li>Create new project, https://developers.kloudless.com/new</li>
     <li>This is preview of your dashboard, https://i.imgur.com/cVpNb3N.png</li>
     <li>Click <b>Walkthrough</b>(refer 3.) to add cloud storages to your account</li>
     <li>Click <b>App Details</b>(refer 3.) to copy <b>App-Wide API Keys</b> then paste the key into <b>kloudless.txt</b>. Lastly, copy <b>kloudless.txt</b> to root directory of your sd card.</li>
     <li><b>!!! Goto Settings > Storage > Default Media Storage & Choose SD CARD</b></li>
     <li>
       Open <b>Kloud File Manager</b>, left click <b>Menu</b> then select <b>Kloudless</b>, next select <b>Setup API Key</b>. If successful, 4 new menu will available:
      <ul>
       <li>Default Cloud Storage(set default cloud storage)</li>
       <li>Open Cloud Storage(browse cloud storage)</li>
       <li>Fix Missing Files(Remove invalid files from database)</li>
       <li>Reset(reset sync database)</li>
      </ul>
     </li>
     <li><b>!!! You can delete <b>kloudless.txt</b> after successful login</b></li>
    </ol>
    </br>
    <h4>Local Storage(File Manager) Features:</h4>
    <ul>
      <li>sync file between local & cloud</li>
      <li>upload file to cloud storage</li>
      <li>cut/copy/delete file</li>
      <li>create folder</li>
      <li>basic file browsing</li>
    </ul>
    </br>
    <h4>Cloud Storage Features:</h4>
    <ul>
      <li>download file for offline usage</li>
      <li>delete file</li>
      <li>basic file browsing</li>
    </ul>
    </br>
    <h5># Text Viewer support Markdown formart</h5>
    </br>
    </br>
  </div>
  </div>
</div>
