<div class="kui-flex-wrap">
  <style>
    ul { 
      display: block;
      list-style-type: disc;
      margin-top: 0.5em;
      margin-bottom: 0.5em;
      margin-left: 0;
      margin-right: 0;
      padding-left: 20px;
    }

    ol {
      display: block;
      list-style-type: decimal;
      margin-top: 0.5em;
      margin-bottom: 0.5em;
      margin-left: 0;
      margin-right: 0;
      padding-left: 20px;
    }

    li {
      display: list-item;
      margin-top: 5px;
      font-size: 14px;
    }
  </style>
  <div class="kai-container">
    <div class="kai-padding-5">
      <h5>Features:</h5>
      <ul>
        <li>cut/copy/delete file</li>
        <li>create folder</li>
        <li>basic file browsing</li>
        <li>basic file reader</li>
        <li>Text Viewer support Markdown formart</li>
        <li>Support internal & external(sdcard) storage</li>
      </ul>
      </br>
      <small><b>https://github.com/arma7x/b2gfm</b></small>
    </div>
  </div>
</div>
